:root {
    --cinza-1: #3d4548;
    --cinza-2: #65686b;
    --cinza-3: #a3a7a9;
    --cinza-4: #cbd4d7;
    --azul-1: #004f92;
    --azul-2: #00569d;
    --azul-3: #3e77b6;
    --azul-4: #90b1db;
    --branco-1: #DCE0DD;
    --branco-2: #EFEFEB;
    --branco-3: #F5F5F5;
    --branco-4: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--cinza-1);
    color: var(--branco-1);
}

.bloco {
    min-height: 100%;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}

/* MENU */

.menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--azul-1);
    padding: 20px 10%;
    align-items: center;
}

.menu-opcoes {
    display: flex;
    list-style: none;
}

.menu-opcoes li {
    margin-right: 5px;
}

.menu-opcoes a{
    color: var(--branco-1);
    text-decoration: none;
}

.menu-opcoes a:hover{
    color: var(--cinza-3);
}

/* HOME */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

.imagem {
    max-width: 300px;
    height: 350px;
}

.descricao {
    background-color: var(--branco-3);
    padding: 20px 25px;
    height: 350px;
    max-width: 300px;
    font-size: 18px;
    color: var(--cinza-2);
}

/* EXPERIENCIA */

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo h1{
    font-size: 32px;
    text-transform: uppercase;
}

.data-cargo{
    font-size: 18px;
}

.bola{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.empresa-descricao {
    font-size: 18px;
}

.xp-flex {
    display: flex;
    margin-bottom: 10px;
}

.habilidade-ponto{
    display: flex;
    justify-content: space-around;
}

/* FORMAÇÃO */

/* HABILIDADE */

/* PORTIFOLIO */
.portifolio-flex{
    display: flex;
    justify-content: space-around;
}

.box{
    background: var(--cinza-3);
    width: 300px;
    padding: 10px;
}
.portifolio-imagem{
    width: 300px;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-portifolio{
    padding: 8px 25px;
    text-transform: uppercase;
    background: var(--azul-3);
    border: var(--azul-2);
    border-radius: 25px;
}

/* CONTATO */
.div-form{
    margin-right: 10%;
    margin-left: 10%;
}
.contato-form{
    display: flex;
    flex-direction: column;
}

.contato-flex{
    display: flex;
}

#contato{
    padding-bottom: 50px;
}

.contato-area{
    border-radius: 4px;
    border: none;
    background: var(--branco-1);
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    width: 400px;
}

.btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-contato{
padding: 5px 25px;
text-transform: uppercase;
background: var(--azul-3);
border: var(--azul-2);
border-radius: 4px;
}
.contato-endereco-area{
    
    font-size: 18px;
}

.contato-endereco{
    margin-bottom: 20px;
}