:root {
    --cinza: #3d4548;
    --azul-1: #004f92;
    --azul-2: #00569d;
    --branco-1: #DCE0DD;
    --branco-2: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

button {
    cursor: pointer;
}

/* GERAL */

.bloco {
    min-height: 100%;
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
    justify-content: center;
}

.branco-azul {
    background: var(--branco-1);
    color: var(--cinza);
}

.azul-branco {
    background: var(--azul-1);
    color: var(--branco-1);
}

/* MENU----------------------------------- */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
}

.menu-logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.menu-opcoes {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.menu-opcoes li {
    margin-right: 10px;
}

.menu-opcoes a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.azul-branco .menu-logo {
    color: var(--branco-1);
}

.azul-branco .menu-opcoes a {
    color: var(--branco-1);
}

.azul-branco .menu-opcoes a:hover {
    color: var(--cinza);
}

.branco-azul .menu-logo {
    color: var(--cinza);
}

.branco-azul .menu-opcoes a {
    color: var(--cinza);
}

.branco-azul .menu-opcoes a:hover {
    color: var(--azul-1);
}

/* HOME----------------------------------- */

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15%;
}

.card-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.card-imagem img {
    width: 100%;
}

.card-empilhar {
    display: flex;
    flex: 1;
}

.card-conteudo {
    padding: 10px;
    font-size: 18px;
}

.azul-branco .card-conteudo, .card-imagem {
    background-color: var(--branco-1);
}

.branco-azul .card-conteudo, .card-imagem {
    background-color: var(--azul-1);
}

.branco-azul .card-conteudo {
    color: var(--branco-1);
}

.azul-branco .card-conteudo {
    color: var(--cinza);
}

/* EXPERIENCIA----------------------------------- */

/* TITULO */

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.titulo h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 8%;
}

.branco-azul .titulo {
    color: var(--azul-1);
}

/* BOX */

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    padding: 5px 10px;
    border-radius: 20px;
}

.box-item {
    margin-bottom: 1%;
}

.branco-azul .box {
    border: 2px solid var(--azul-1);
}

.azul-branco .box {
    border: 2px solid;
}

/* HABILIDADE----------------------------------- */

.habilidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}

/* HABILIDADE-ITEM */

.habilidade-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.azul-branco .habilidade-item {
    border: 2px solid var(--branco-1);
}

.azul-branco .icone-azul {
    color: var(--cinza);
}

.branco-azul .habilidade-item {
    border: 2px solid var(--azul-1);
}

.branco-azul .icone-azul {
    color: var(--azul-1);
}

/* PORTIFOLIO----------------------------------- */

.portifolio {
    display: flex;
    flex-direction: column;
}

.portifolio .card {
    padding-top: 5%;
}

/* BTN */

.btn {
    padding: 5px 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
}

.btn-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.branco-azul .btn {
    background: var(--azul-1);
    color: var(--branco-1);
}

.azul-branco .btn {
    background: var(--branco-1);
    color: var(--azul-1);
}

.azul-branco .btn:hover {
    background-color: var(--branco-2);
}

.branco-azul .btn:hover {
    background-color: var(--azul-2);
}

/* CONTATO----------------------------------- */

.contato {
    display: flex;
    flex-direction: column-reverse;
}

.contato .btn-div {
    margin-top: 2%;
}

.contato-form {
    display: flex;
    flex-direction: column;
}

.contato-area {
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    align-items: center;
}

.branco-azul .contato-area {
    background: var(--cinza);
    color: var(--branco-1);
}

.azul-branco .contato-area {
    background: var(--branco-1);
    color: var(--cinza);
}

.contato-rede-social {
    font-size: 18px;
}

.contato-endereco {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.contato-endereco i {
    margin-right: 5px;
}

.branco-azul .contato-endereco a {
    color: var(--cinza);
}

.azul-branco .contato-endereco a {
    color: var(--branco-1);
}

.contato-endereco a {
    text-decoration: none;
}

/*MEDIA*/

@media only screen and (max-width: 480px) {
    .habilidade-item {
        flex-direction: column;
    }
}

@media only screen and (min-width: 601px) {
    .menu {
        flex-direction: row;
    }
    #home .card {
        flex-direction: row;
        width: 100%;
    }
    #home .card-imagem {
        width: 50%;
    }
    .box {
        flex-direction: row;
        justify-content: space-between;
    }
    .box-item {
        margin-right: 10px;
    }
    .habilidade-item {
        flex-direction: row;
        justify-content: space-between;
    }
    .portifolio {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .portifolio .card {
        width: 40%;
    }
    .contato {
        flex-direction: row;
    }
    .contato-form {
        width: 50%;
    }
    .contato-rede-social {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 993px) {
    #home .card {
        padding-top: 8%;
        width: 80%;
    }
    #home .card-conteudo {
        font-size: 20px;
    }
    .box {
        border-radius: 0px;
    }
    .branco-azul .box {
        border: none;
        border-bottom: 2px solid var(--azul-1);
    }
    .azul-branco .box {
        border: none;
        border-bottom: 2px solid;
    }
    .habilidade-item {
        width: 28%;
    }
    .portifolio .card {
        width: 30%;
    }
    .contato-rede-social {
        margin-left: 20%;
    }
}